.button {
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button:pressed {
    -fx-background-color: white;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Lato";
    -fx-font-size: 13px;
}

.button_equ{
    -fx-background-color:
            #000000,
            linear-gradient(#395cab, #223768),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#7ebcea, #2f4b8f);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Lato";
    -fx-font-size: 20px;
}

.button_num{
    -fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button_equ:pressed {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Lato";
    -fx-text-fill: black;
    -fx-font-size: 18px;
}

.text-area_output {
    -fx-display-caret: true;
    -fx-text-fill: white;
    -fx-font-family: "MathJax_Typewriter";
    -fx-font-size: 18px;
    -fx-text-box-border: black;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
}

.text-area {
    -fx-display-caret: true;
    -fx-text-fill: white;
    -fx-font-family: "MathJax_Typewriter";
    -fx-font-size: 18px;
    -fx-text-box-border: black;
}

.text-area .content{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-text-box-border: black;
}

.text-field {
    -fx-background-color:
           #000000,
           linear-gradient(#7ebcea, #2f4b8f),
           linear-gradient(#426ab7, #263e75),
           linear-gradient(#395cab, #223768);
    -fx-display-caret: true;
    -fx-text-fill: white;
    -fx-font-family: "MathJax_Typewriter";
    -fx-font-size: 14px;
    -fx-text-box-border: black;

}

.text-field .content{
    -fx-font-family: "MathJax_Typewriter";
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-text-box-border: transparent;
}

.menu-bar{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-text-fill: white;
    -fx-font-family: "Lato";
    -fx-font-size: 13px;
    -fx-wrap-text: true;
}

.menu-item:focused{
    -fx-text-fill: #232B33;
    -fx-background-color: white;
    -fx-font-family: "Lato";
    -fx-font-size: 13px;
    -fx-wrap-text: true;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: white;
}

.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: black;
}

.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: white;
}


.context-menu{
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-text-fill: white;
}

.menu-item{
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: white;
}

.menu-item:focused .label{
    -fx-text-fill: #232B33;
    -fx-background-color: white;
}

.menu{
    -fx-text-fill: white;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-font-family: "Lato";
    -fx-font-size: 13px;
    -fx-wrap-text: true;
}

.menu:focused {
    -fx-text-fill: white;
    -fx-background-color: white;
    -fx-font-family: "Lato";
    -fx-font-size: 13px;
    -fx-wrap-text: true;
}

